<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>


<h1> Current Version </h1>

<% if @document.current_version %>
	<%= render file: '/versions/show' %>
<% else %>
	No current version
<% end %>

<%= render file: '/versions/index' %>